{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prefer-let"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prefer-let/prefer-let": 2,
    "prefer-const": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
